html, body, .row, p {
    margin: 0;
    padding: 0;
}

.row{
    justify-content: space-around;
    margin-bottom: 1rem;
}

body{
    height:100vh;
    background-color: aliceblue;
}

#wrapper{
    height: 500px;
}

#outside{
    margin-left: 15px;
    margin-top: 15px;
}

#border{
    border: 2px solid #1C1C1C;
    background-color: #1C1C1C;
    width: 450px;
    border-radius: 5px;
    height: 800px;
    float: left;
}

#numAnswer{
    width: 100%;
    height: 28%;
    color: #F9F9F9;
 
    margin-bottom: .5rem;
    
}

.main{
    
    position: relative;
   top: 55%;
}
#main{
    text-align:right;
    margin-right: 10px
}
.o-nums{
    transform: scale(1.2);
    flex-wrap: wrap;
    overflow: visible;
    padding: 0 .2rem;
}
.o-nums:not(:first-child){
    margin-left: .25rem;
    
}

#otherNums {
    border: 1px solid green;
    margin: 1px auto auto 1px;
    display: flex;
    max-width: 100%;
    flex-wrap: wrap;
    height: 2em;
}

.num{
    font-size: 18px;
}

.button {
    border-radius: 100%;
    color: #f9f9f9;
    background-color: #d4d4d2;
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100px;
    height: 100px;
    cursor: pointer;
}

.button:hover{
    transition: .05s all;
    transform: scale(1.08);
}


.button > p.display-4 {
    margin-bottom: .25rem;
}

.button.op {
    background-color: #ff9500;
    text-align: center;

}

.button.num {
    background-color: #505050;
}

.button.num#long{
    width: 200px;
    border-radius: 100px;
    margin-right: .75rem;
}

#other{
    margin-left: 5px;
    margin-right: auto;
    align-self: flex-start;
}

.thing{
    margin: 0 auto;
}

@media screen and (max-width: 600px) {
    .button:hover{
      transition: 0s all;
      transform: scale(1)
    }
}